{% set secImage = page.find('images/').media[page.header.content.image].url | e %}
<div class="tusec-area">
    <div class="container">
        <div class="tusec-g-wrapper">
            <div class="sec-img">
                <img src="images/tsec-1.png" alt="" class="img-fluid">
            </div>
            <div class="cmn-content tsec-content">
                <h6 class="text-uppercase">{{page.header.content.subtitle}}</h6>
                <h4>{{page.header.content.title}}</h4>
                <p>{{page.header.content.text}}</p>
                <a href="#" class="box-btn">Kontakt aufnehmen<svg xmlns="http://www.w3.org/2000/svg" width="11.243"
                        height="17.236" viewBox="0 0 11.243 17.236">
                        <g id="Group_2" data-name="Group 2" transform="translate(2.121 2.115)">
                            <line id="Line_8" data-name="Line 8" x2="7" y2="6" fill="none" stroke="#fff"
                                stroke-linecap="round" stroke-width="3"></line>
                            <line id="Line_9" data-name="Line 9" x1="7" y2="7" transform="translate(0 6)" fill="none"
                                stroke="#fff" stroke-linecap="round" stroke-width="3"></line>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>